.headerContainer {
  display: flex;
  justify-content: space-between;

  .menuContainer {
  }
  .leftContainer {
    background-image: url("https://cdn0.iconfinder.com/data/icons/crime-protection-people/110/Hacker-512.png");
    width: 64px;
    height: 64px;
    z-index: 10;
    background-size: cover;
  }
  .rightContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchInput {
      width: 300px;
      border-radius: 0.4em;
      height: 40px;
      margin-right: 15px;
      -webkit-box-shadow: 0px -2px 20px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px -2px 20px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 0px -2px 20px -4px rgba(0, 0, 0, 0.75);
    }
    .buttonSignIn {
      width: 110px;
      border-radius: 0.4em;
      height: 40px;
      margin-right: 10px;

      background:whitesmoke;
      border: 1px solid whitesmoke; 
      &:hover {
        background: whitesmoke;
        border: 1px solid whitesmoke
      };
    
      &:focus {
        background: whitesmoke;
        border: 1px solid whitesmoke;
      };
    }
  }
}
